extends ../layout/layout.jade
include ../includes/mixins.jade

block headContent
    title Jade Playground

block bodyContent
    - var myTitle = 'Hi, Everyone!'
    - var mySkills = ['C#', 'MySQL', 'Python']
    if myTitle
        h1 #{myTitle}
        p(class='myClass', id='myId') This is a paragraph, as well!
    else
        h1 Awwh, we have no title!
    
    ul
        each val in mySkills
            li= val


    div.myDivClass.my2ndDivClass#myDivId This is a Div!!

    div(style={color:'red', background: 'black'})

    mixin paragraph
        p Hello!!
    +paragraph

    mixin paragraph2(myContent, id)
        p(id=id)=myContent
    +paragraph2('Teste MIXIN!!!!!', 'myParaId')




    form(active='', method='POST')        
        table
            +formTest('firstName', 'First Name:')

            +formTest('lastName', 'Last Name:')

            tr
                td
                    label(for='myList') Occupation:
                td 
                    select(name='myList', id='myList')
                        option(value='designer') Designer
                        option(value='coder') Coder
            tr
                td(colspan='2', text-aling='center')
                    input(type='button', value='Submit')